body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.main-box{
  width: 84%;
  margin: auto;
  border: 1px;
  padding: 3px;
 
}
.main-box div {
  border: 1px solid black;
  width: 100%;
  height: 20px;
}
.main-box div div,.main-box button,.main-header div div{
 background-color: bisque;
 width: 16.5%;
 height: 20px;
 float: left;
 border: none;

}

.main-header{
  width: 84%;
  margin: auto;
  border: 1px;
  padding: 3px;
}
/* .main-box div{
  border: 1px solid black;
} */
